:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  --font-size-regular: 1.6rem;

  --color-font: #232735;
  --color-darkest: #1d212f;
  --color-dark: #232735;
  --color-bg-gray: #f2f2f2;
  --color-darker-grey: #838383;
  --color-bg-white: #ffffff;
  --color-accent-1: #56b777;
  --color-accent-2: #f3e565;
  --color-error-1: #e51c50;
  --color-error-2: #dd9509;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

span {
  text-transform: uppercase;
  font-size: 1.6rem;
  color: var(--color-dark);
}

p {
  color: var(--color-dark);
  font-size: var(--font-size-regular);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

input {
  padding: 0.6rem;
  margin-bottom: 2rem;
  width: 10rem;
  display: inline;
  font-size: var(--font-size-regular);
}

button {
  border-radius: 0.4rem;
  border: 1px solid var(--color-accent-1);
  padding: 0.6rem 1.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0rem 1rem;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
